.footer-item {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: inherit;
}

.footer-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transform-origin: left;
  transition: width 250ms ease;
}

@media (hover: hover) and (pointer: fine) {
  .footer-item:hover::after {
    width: 100%;
  }

  .footer-item:hover {
    cursor: pointer;
  }
}

@media (hover: none) and (pointer: coarse) {
  .footer-item::after {
    width: 0 !important;
  }
}
