:root {
  --header-h: 80px;
}

.ham-menu {
  height: 35px;
  width: 30px;
  cursor: pointer;
  position: relative;

  background: transparent;
  border: none;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
}
.site-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  isolation: isolate;
}

.site-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  z-index: -1;
}

.ham-menu span {
  height: 3px;
  width: 100%;
  background-color: #b42423;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  pointer-events: none;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(2) {
  top: 50%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-overlay {
  position: fixed;
  top: var(--header-h);
  left: 0;
  right: 0;
  bottom: 0;

  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 40;
}
.nav-item {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width 250ms ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  cursor: pointer;
}

.menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.offscreen-menu {
  position: fixed;
  top: var(--header-h);
  right: -100%;
  width: 100%;
  height: calc(100dvh - var(--header-h));
  background-color: #ffffff;

  transition: right 0.45s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 50;

  pointer-events: none;
}

.offscreen-menu.open {
  right: 0;
  pointer-events: auto;
}
