html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
}

#root {
  min-height: 100vh;
  overflow: visible;
  height: auto;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
