@import "tailwindcss";
@layer base {
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  @media (hover: none) and (pointer: coarse) {
    *:hover {
      background-color: inherit !important;
      color: inherit !important;
      box-shadow: none !important;
      transform: none !important;
      opacity: 1 !important;
      text-decoration: none !important;
    }
  }

  li {
    @apply p-4;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }

  .line-break {
    white-space: pre-wrap;
  }

  img {
    box-sizing: border-box;
  }
  p,
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}
